<div class="widgetContent localTimeComponent">
    <div class="local">...</div>
    <script type="text/javascript">
      
      let refreshLocalTime = () => {
        const date = new Date(); 
        document
          .querySelector(".localTimeComponent .local")
          .textContent = date.toLocaleDateString() + " " + date.toLocaleTimeString() + " " + Intl.DateTimeFormat().resolvedOptions().timeZone;
      };

      window.setInterval(refreshLocalTime, 1000);
    </script>
</div>